SHOW
<h2>
<%= @cocktail.name %>
</h2>

<h3>
  Recipe
</h3>



<% @cocktail.doses.each do |c| %>
<p><%= c.description %> </p>
<p><%= c.ingredient.name %> </p>
<p><%= link_to "Delete", dose_path(c), class: "btn btn-primary", method: :delete %></p> <br>
<% end %>


<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.input :ingredient_id, collection: @ingredients %>
<%= f.submit %>
<% end %>

<%= link_to "Back to all", cocktails_path, class: "btn btn-primary" %>
